@using System.Data

@{
    ViewBag.Title = "Upd";
}

<div style="margin:10px auto; border:1px solid #ccc; width:90%; min-width:812px; height:auto;">
<form action="/Home/Upd" method="post">
    <table style="width:100%" cellspacing="0">
        <thead>
            <tr>
                <th>类型</th>
                <th>金额</th>
                <th>明细</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tbody_p">

            @{
                DataTable dets = ViewBag.Details as DataTable;

                DataTable tags = ViewBag.Tags as DataTable;

                for (int j = 0; j < dets.Rows.Count; j++)
                { 
                    
                    <tr>
                        <td align="center">
                            <select name="type">
                                @{
                                    for (int i = 0; i < tags.Rows.Count; i++)
                                    {
                                        if (tags.Rows[i]["id"].ToString() == dets.Rows[j]["tagid"].ToString())
                                        { 
                                            <option selected="selected" value="@tags.Rows[i]["id"].ToString()">@tags.Rows[i]["tagname"].ToString()</option>
                                        }
                                        else { 
                                            <option value="@tags.Rows[i]["id"].ToString()">@tags.Rows[i]["tagname"].ToString()</option>
                                        }
                                    }
                                 }
                            </select>
                        </td>
                        <td align="center">
                            <input type="text" value="@dets.Rows[j]["price"].ToString()" style="width:100px;" class="price" name="price" />
                        </td>
                        <td align="center">
                        <textarea name="notes" id="notes" style="width:500px; height:70px;" >
                            @dets.Rows[j]["notes"].ToString()
                        </textarea>
                        </td>
                        <td align="center">
                            <img src="@Url.Content("~/Content/Images/expand.gif")" style="cursor:pointer;" class="Add" alt="添加" title="添加"  />
                            <img src="@Url.Content("~/Content/Images/shrink.gif")" style="cursor:pointer;" class="Sha" alt="删除" title="删除"  />
                        </td>
                    </tr>
                }
                
            }

        </tbody>
        <tfoot>
            <tr>
                <td align="center" colspan="4">
                    <input type="hidden" id="id" name="id" />
                    <input type="submit" value="修改" />
                </td>
            </tr>
        </tfoot>
    </table>
</form>
</div>

<script type="text/javascript">
    $(function () {
        $("#id").val(getUrlPara("i"));

        $("input[class='price']").blur(function () {
            var patrn = /^([1-9]\d*|0)(\.\d+)?$/;
            if (!patrn.exec($(this).val())) {
                $(this).val("只能输入数字").css("color", "red");
                return false;
            }
        });

        $("textarea[name='notes']").blur(function () {
            var val = $(this).val().replace(/,/g, ";");

            $(this).val(val);

            var s = val;
            var reg = /[+-]?\d+\.?\d*/g;
            var sum = 0.0;
            var expr;
            var numbers = s.match(reg);
            if (numbers != null) {
                for (v in numbers) {
                    if (v == 0)
                        expr = numbers[v];
                    else
                        expr += '+' + numbers[v];

                    sum += parseFloat(numbers[v]);
                }
            }

            $(this).parent().prev().children().val(sum);
        });

        $(".Add").click(function () {
            var tr = $(this).parent().parent().clone(true);

            $("tbody").append(tr);
        });

        $(".Sha").click(function () {
            $(this).parent().parent().remove();
        });

        //监控那些按键按下
        $(this).keydown(function (e) {
            var oEvent = window.event;
            console.log(oEvent.keyCode);

            //添加 && oEvent.shiftKey
            if (oEvent.keyCode == 40 && oEvent.ctrlKey) {
                //alert("你按下了ctrl+enter");
                var tr = $("#tbody_p").children().first().clone(true);

                $("tbody").append(tr);
            }

        });
    });
</script>

